* {
  font-family: Arial;
}

p {
  margin: 0;
}

.profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  width: 400px;
}

.img-container {
  margin-right: 12px;
}

.author {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold
}

.author-account {
  color: rgb(112, 112, 112);
  font-weight: normal;
}

.description {
  margin-bottom: 10px;
  font-size: 14px;
}

.hyperlink {
  display: flex;
  border: rgb(186, 186, 186) 1px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  overflow: hidden;
}

.preview {
  width: 140px;
  background-color: rgb(212, 212, 212);
}

.link-content {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.youtube {
  margin-bottom: 6px;
  font-size: 16px;
  color: rgb(103, 103, 103);
}